name: Destroy Self-Hosted Runner

on:
  workflow_dispatch:

permissions:
  id-token: write 
  contents: write   

env:
  AWS_REGION: eu-central-1

jobs:
  destroy-runner:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::123456789:role/github-oidc-access-role1
          role-session-name: deploy-runner-${{ github.run_id }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: |
          cd development/self-hosted-runner
          terraform init

      - name: Terraform Destroy
        run: |
          cd development/self-hosted-runner
          terraform destroy -auto-approve

